:root {
  --blue: #003049;
  --red: #d62828;
  --yellow: #fcbf49;
  --lightgreen: #eae2b7;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--lightgreen);
}

/* Board */
#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4px;

  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;

  border: 1rem solid var(--lightgreen);
  background: var(--yellow);
}

.tile {
  background: var(--lightgreen);
  cursor: pointer;
}

/* Pieces container */
.pieces {
  position: absolute;
  top: 16px;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateX(-50%);
}

.pieces--red {
  bottom: 16px;
  top: auto;
}

.pieces--blue {
  flex-direction: row-reverse;
}

/* Piece */
.piece input {
  display: none;
}

.piece label {
  display: inline-block;
  margin: 0 4px;

  background: var(--blue);
  border-radius: 50%;

  cursor: pointer;
}

.pieces--red input:checked + label {
  border: 4px solid var(--blue);
}

.pieces--blue input:checked + label {
  border: 4px solid var(--red);
}

.piece--l label {
  width: 48px;
  height: 48px;
}

.piece--m label {
  width: 40px;
  height: 40px;
}

.piece--s label {
  width: 32px;
  height: 32px;
}

.pieces--red .piece label {
  background: var(--red);
}
